@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-grape: var(--font-grape-nuts);
  --font-hammer: var(--font-hammersmith-one);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon-blue: #0033ff;
  --neon-glow: 0 0 20px rgba(0, 51, 255, 0.5);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}